/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Mar 18, 2019, 12:34:27 PM
    Author     : Naa Kai
*/

.container{overflow: hidden;}
.tab{float: left;}
.tab-2{margin-left: 100px;}
.tab-2 input{display: block;margin-bottom: 10px;}
tr{transition:all .25s ease-in-out}
tr:hover{background-color:#EEE;cursor: pointer;}